body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}
div.page {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.input-width-norm {
    width: 30%;
}

