body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: bold;
}
div.box {
    width: 100%;
    height: 370px;
    background-color: rgb(231, 168, 168);
    padding: 20px;
    border-radius: 5px;
    transition: 300ms ease;
}
.box-title {
    font-size: 200%;
    font-weight: bold;
}
hr {
    border-style: solid;
    border-width: 2px;
}
hr.title {
    border-style: solid;
    border-width: 1px;
}
div.page {
    padding-left: 40px;
    padding-right: 40px;
}
img.inverted-color {
    filter: brightness(0) invert(1);
}
img.inverted-color-black {
    filter: brightness(10) invert(1);
}
img.resized-icon {
    width: 30px;
    height: 30px;
}
img.resized-icon-large {
    width: 60px;
    height: 60px;
}
.mycustom-nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(235, 235, 235);
}
.full-centered {
    width: 100%;
    text-align: center;
}
img.icon-logo-black {
    filter: brightness(10) invert(1);
    width: 25px;
    height: 25px;
    transform: translateY(-2px);
}
img.shift-up {
    transform: translateY(-2px);
}
img.shift-up-large {
    transform: translateY(-10px);
}
div.details-box {
    background-color: white;
    color: rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
    border-style: solid;
    border-width: 1px;
}
.margin-vert {
    margin-top: 30px;
}
div.full-right {
    width: 100%;
    text-align: right;
}
input.master-input {
    border-radius: 4px;
    border-style: solid;
    border-width: 0.5px;
    color: rgb(53, 53, 53);
    font-weight: normal;
    font-size: 90%;
    text-align:  center;
    width: 250px;
    height: 35px;
}
div.nav-account {
    margin-left: 20px;
    margin-right: 20px;
}

.red-hover:hover {
    transition: 200ms ease;
    background-color: rgb(255, 229, 234);
}

div.device {
    padding: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: rgb(48, 48, 48);
    transition: 300ms ease;
}
.device-name-home {
    font-size: 170%;
}
.device-name-status-home {
    font-size: 50%;
    color: grey;
}
.location-home {
    color: rgb(26, 0, 192);
}